body {
    background-color: #ffffff;
    font-family: "mukta", sans-serif;
    background-position: center;
  }
  
    .container-about{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        margin-top: 60px;
        justify-content: center;
        align-items: center;
        padding: 0 100px;
        .about-box {
            max-width: 700px;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: #fff;
            box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
        }
        article h2{
            position: relative;
            margin-top: 70px;
            color: black;
            margin-bottom: 10px;
        
        }
        h2:after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            height: 4px;
            width: 50px;
            border-radius: 2px;
            background-color: #ba3434;
          }
        article p{
            color: #545252;
            font-size: medium;
            padding: 0 10px;
            text-align: center;
         
        }
       
        article img{
            width: 100px;
            height: 100px;
            background-size: cover;
            position: absolute;
            border-radius: 50px;
            left: 50%;
            top: 0%;
            transform: translate(-50%,-50%);
        }
        .informasi-pembuat {
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          
          th {
            color: #545252;
          }
  
          td {
            color: #545252;
          }
        }
       
    }
    
    
    
  
  //navbar
  .navbar-brand {
    img {
      max-height: 40px;
    }
  }
  
  .navbar-light {
    .navbar-nav {
      .nav-link {
        color: #9e9e9e;
  
        &.active {
          font-weight: bold;
          color: #821e1e;
        }
      }
    }
  }
  
  .btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
  
    height: 70px;
    border-radius: 0;
  }
  
  .btn-login {
    background-color: #ffffff;
    color: #821e1e;
  
    &:hover {
      background-color: #ba3434;
      color: #fff;
    }
  }
  //footer
    .section-footer {
    h5,
    a {
        color: #282569;
    }
    }


 
    