body {
  background-color: #ffffff;
  font-family: "mukta", sans-serif;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #9e9e9e;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #821e1e;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #ffffff;
  color: #821e1e;
}

.btn-login:hover {
  background-color: #ba3434;
  color: #fff;
}

header {
  background-color: #ffffff;
}

.container-contact {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px;
}

.contact-box {
  max-width: 900px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.responsive {
  width: 100%;
  height: auto;
}

.left {
  padding: 0px 40px;
}

.right {
  padding: 20px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #ba3434;
}

.field {
  width: 70%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn-send {
  width: 70%;
  padding: 0.5rem 1rem;
  background-color: #821e1e;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 30px 0;
}

.btn-send:hover {
  background-color: #ba3434;
  color: #fff;
}

.field:focus {
  border: 2px solid #ba3434;
  background-color: #fff;
}

.dropdown-subject {
  width: 70%;
  margin: auto;
}

.dropdown-subject select {
  height: 42px;
  line-height: 22px;
  font-size: 1.1rem;
  width: 100%;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: rgba(230, 230, 230, 0.6);
  border-radius: 5px;
  border: none;
  color: #03030399;
  padding: 0.5rem 1rem;
  margin-bottom: 22px;
}

.dropdown-subject select.field:focus {
  border: 2px solid #ba3434;
  background-color: #fff;
}

.section-footer h5,
.section-footer a {
  color: #282569;
}
/*# sourceMappingURL=contact-us.css.map */