body {
  background-color: #ffffff;
  font-family: "mukta", sans-serif;
}

.navbar-brand img {
  max-height: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: #9e9e9e;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #821e1e;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #ffffff;
  color: #821e1e;
}

.btn-login:hover {
  background-color: #ba3434;
  color: #fff;
}

header {
  padding: 180px 0 165px;
  margin-top: -70px;
}

header img {
  max-width: 40vw;
}

header p {
  color: #999696;
  font-size: 18px;
}

header h1 {
  font-family: "Rajdhani", serif;
  font-weight: 600;
  font-size: 50px;
  color: #821e1e;
}

header .btn-get-started {
  background-color: #504b86;
  color: #fff;
  margin-bottom: 20px;
}

header .btn-get-started:hover {
  background-color: #6c63ff;
  color: #fff;
}

.section-category .section-category-heading h2 {
  font-family: "Rajdhani", serif;
  font-weight: 500;
  font-size: 40px;
  color: #ba3434;
}

.section-category .section-category-heading p {
  font-size: 18px;
}

.section-category-content {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-category-content .card-car {
  padding: 40px 20px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.section-category-content .card-car .car-content img {
  max-width: 400vw;
  max-height: 170px;
}

.section-category-content .card-car .car-content h3 {
  color: #282569;
  font-size: 20px;
  font-weight: bold;
}

.section-category-content .card-car .car-content h4 {
  color: #282569;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-category-content .card-car .car-content ul li {
  list-style-type: none;
  padding-bottom: 10px;
  font-size: 18px;
  color: #545252;
}

.section-category-content .card-car .car-content ul li .fas {
  color: #282569;
}

.section-category-content .card-car .car-content ul li:after {
  content: "";
  display: block;
  height: 1px;
  width: 90%;
  margin: 10px;
  background: #dedede;
}

.section-category-content .card-car .car-content .btn-pesan {
  background-color: #504b86;
  color: #fff;
  margin-bottom: 20px;
}

.section-category-content .card-car .car-content .btn-pesan:hover {
  background-color: #6c63ff;
  color: #fff;
}

.section-testimonial-heading {
  background-color: #fff;
}

.section-testimonial-heading h2 {
  font-family: "Rajdhani", serif;
  font-weight: 500;
  font-size: 40px;
  color: #ba3434;
  margin-top: 70px;
}

.section-testimonial-content {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#bfcbeb));
  background: linear-gradient(#fff 0%, #bfcbeb 100%);
  padding-bottom: 50px;
}

.section-testimonial-content .card-testimonial {
  margin-top: 100px;
  min-height: 350px;
}

.section-testimonial-content .card-testimonial img {
  margin-top: -50px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 20px;
}

.section-testimonial-content .card-testimonial .rent-car {
  font-weight: bold;
  color: #282569;
}

.section-testimonial-content .btn-get-started {
  background-color: #504b86;
  color: #fff;
  margin-bottom: 20px;
}

.section-testimonial-content .btn-get-started:hover {
  background-color: #6c63ff;
  color: #fff;
}

.section-testimonial-content .btn-perlu-bantuan {
  background-color: #e7e7e7;
  color: #aaaaaa;
  margin-bottom: 20px;
}

.section-testimonial-content .btn-perlu-bantuan:hover {
  background-color: #fafafa;
  color: #aaaaaa;
}

.section-footer h5,
.section-footer a {
  color: #282569;
}

.section-details-header {
  min-height: 310px;
  background-color: #e4e6eb;
}

.section-details-content {
  margin-top: -285px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item {
  color: #b62e2e;
}

.section-details-content .breadcrumb-item.active {
  color: #821e1e;
  font-weight: bold;
}

.section-details-content .card-details {
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.section-details-content .card-details img {
  min-width: 40%;
  margin-bottom: 20px;
}

.section-details-content .card-details h1 {
  font-size: 26px;
  color: #282569;
}

.section-details-content .card-details h2 {
  font-size: 20px;
}

.section-details-content .card-details .ilustrasi {
  font-weight: bold;
}

.section-details-content .card-details .fas {
  color: #282569;
}

.section-details-content .card-details h3 {
  font-weight: 300;
  font-size: 14px;
}

.section-details-content .card-details .btn-pesan-sekarang {
  background-color: #282569;
  color: #fff;
  font-size: 16px;
}

.section-details-content .card-details .btn-pesan-sekarang:hover {
  background-color: #524db8;
  color: #fff;
  font-size: 16px;
}

.section-details-content .section-checkout .card-checkout {
  padding: 30px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 50px;
}

.section-details-content .section-checkout .card-checkout h1 {
  font-size: 26px;
  color: #282569;
  margin-bottom: 50px;
}

.section-details-content .section-checkout .card-checkout .informasi-penyewaan th {
  color: #282569;
}

.section-details-content .section-checkout .card-checkout .informasi-penyewaan td {
  color: #3a368d;
}

.section-details-content .section-checkout .informasi-pembayaran {
  background-color: #ffefd0;
  padding: 50px 10px 10px 10px;
  margin: auto;
}

.section-details-content .section-checkout .informasi-pembayaran h2 {
  font-size: large;
  font-weight: bold;
}

.section-details-content .section-checkout .informasi-pembayaran h3 {
  font-size: 18px;
  font-weight: lighter;
}

.section-details-content .section-checkout .informasi-pembayaran .tanggal {
  font-weight: bold;
}

.section-details-content .section-checkout .informasi-pembayaran .btn-join-now {
  background-color: #3a368d;
  color: #fff;
  border-radius: 0;
}

.section-details-content .section-checkout .informasi-pembayaran .btn-join-now:hover {
  background-color: #5851d3;
  color: #fff;
}

.section-details-content .section-checkout .informasi-pembayaran .bank {
  margin-left: 50px;
}

.section-details-content .section-checkout .informasi-pembayaran .bank .bank-item h3 {
  font-size: 18px;
  margin-bottom: 0;
}

.section-details-content .section-checkout .informasi-pembayaran .bank .bank-item .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.section-details-content .section-checkout .informasi-pembayaran .bank .bank-item .description p {
  font-weight: normal;
  font-size: 16px;
  color: #282569;
}

.section-details-content .section-checkout .informasi-pembayaran .bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.section-details-content .section-checkout .informasi-pembayaran .join-container {
  margin: 0 -10px -10px -10px;
}

.section-details-content .section-checkout .note {
  margin: auto;
  padding-top: 20px;
  font-weight: lighter;
}

.section-success {
  height: 90vh;
}

.section-success h1 {
  font-weight: 600;
  font-size: 26px;
  color: #1f1d52;
}

.section-success img {
  width: 500px;
  height: 300px;
}

.section-success .btn-home {
  border-radius: 4px;
  background-color: #282569;
  color: #fff;
}

.section-success .btn-home:hover {
  background-color: #433da8;
  color: #fff;
}

.section-upload {
  height: 90vh;
}

.section-upload h1 {
  font-weight: 400;
  font-size: 26px;
  color: #1f1d52;
}

.section-upload img {
  width: 500px;
  height: 300px;
}

.section-upload .card-upload {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.section-upload .card-upload .btn-upload {
  border-radius: 4px;
  background-color: #282569;
  color: #fff;
}

.section-upload .card-upload .btn-upload:hover {
  background-color: #433da8;
  color: #fff;
}

.section-book {
  margin-top: -50px;
  height: 90vh;
}

.section-book h1 {
  font-weight: 600;
  font-size: 26px;
  color: #1f1d52;
}

.section-book img {
  width: 300px;
  height: 300px;
}

.section-book .btn-home {
  border-radius: 4px;
  background-color: #282569;
  color: #fff;
}

.section-book .btn-home:hover {
  background-color: #433da8;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */