body {
  background-color: #ffffff;
  font-family: "mukta", sans-serif;
}

//navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #9e9e9e;

      &.active {
        font-weight: bold;
        color: #821e1e;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;

  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #ffffff;
  color: #821e1e;

  &:hover {
    background-color: #ba3434;
    color: #fff;
  }
}

//header
header {
  padding: 180px 0 165px;
  margin-top: -70px;

  img {
    max-width: 40vw;
  }

  p {
    color: #999696;
    font-size: 18px;
  }

  h1 {
    font-family: "Rajdhani", serif;
    font-weight: 600;
    font-size: 50px;
    color: #821e1e;
  }

  .btn-get-started {
    background-color: #504b86;
    color: #fff;
    margin-bottom: 20px;

    &:hover {
      background-color: #6c63ff;
      color: #fff;
    }
  }
}

//category
.section-category {
  .section-category-heading {
    h2 {
      font-family: "Rajdhani", serif;
      font-weight: 500;
      font-size: 40px;
      color: #ba3434;
    }

    p {
      font-size: 18px;
    }
  }
}

.section-category-content {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;

  .card-car {
    padding: 40px 20px 10px;
    border-radius: 10px;
    margin-bottom: 20px;

    .car-content {
      img {
        max-width: 400vw;
        max-height: 170px;
      }

      h3 {
        color: #282569;
        font-size: 20px;
        font-weight: bold;
      }

      h4 {
        color: #282569;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      ul {
        li {
          list-style-type: none;
          padding-bottom: 10px;
          font-size: 18px;
          color: #545252;

          .fas {
            color: #282569;
          }
        }

        li:after {
          content: "";
          display: block;
          height: 1px;
          width: 90%;
          margin: 10px;
          background: #dedede;
        }
      }

      .btn-pesan {
        background-color: #504b86;
        color: #fff;
        margin-bottom: 20px;

        &:hover {
          background-color: #6c63ff;
          color: #fff;
        }
      }
    }
  }
}

.section-testimonial-heading {
  background-color: #fff;

  h2 {
    font-family: "Rajdhani", serif;
    font-weight: 500;
    font-size: 40px;
    color: #ba3434;
    margin-top: 70px;
  }
}

.section-testimonial-content {
  background: linear-gradient(#fff 0%, #bfcbeb 100%);
  padding-bottom: 50px;

  .card-testimonial {
    margin-top: 100px;
    min-height: 350px;

    img {
      margin-top: -50px;
    }

    h3 {
      font-size: 22px;
    }

    .testimonial {
      font-weight: 200;
      font-size: 20px;
    }

    .rent-car {
      font-weight: bold;
      color: #282569;
    }
  }

  .btn-get-started {
    background-color: #504b86;
    color: #fff;
    margin-bottom: 20px;

    &:hover {
      background-color: #6c63ff;
      color: #fff;
    }
  }

  .btn-perlu-bantuan {
    background-color: #e7e7e7;
    color: #aaaaaa;
    margin-bottom: 20px;

    &:hover {
      background-color: #fafafa;
      color: #aaaaaa;
    }
  }
}

//footer
.section-footer {

  h5,
  a {
    color: #282569;
  }
}

//page detail.html
.section-details-header {
  min-height: 310px;
  background-color: #e4e6eb;
}

.section-details-content {
  margin-top: -285px;
  min-height: 100vh;

  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;
  }

  .breadcrumb-item {
    color: #b62e2e;

    &.active {
      color: #821e1e;
      font-weight: bold;
    }
  }

  .card-details {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 50px;

    img {
      min-width: 40%;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 26px;
      color: #282569;
    }

    h2 {
      font-size: 20px;
    }

    .ilustrasi {
      font-weight: bold;
    }

    .fas {
      color: #282569;
    }

    h3 {
      font-weight: 300;
      font-size: 14px;
    }

    .btn-pesan-sekarang {
      background-color: #282569;
      color: #fff;
      font-size: 16px;

      &:hover {
        background-color: #524db8;
        color: #fff;
        font-size: 16px;
      }
    }
  }

  //checkout.html
  .section-checkout {
    .card-checkout {
      padding: 30px;
      border-radius: 10px;
      margin: auto;
      margin-bottom: 50px;

      h1 {
        font-size: 26px;
        color: #282569;
        margin-bottom: 50px;
      }

      .informasi-penyewaan {
        th {
          color: #282569;
        }

        td {
          color: #3a368d;
        }
      }
    }

    .informasi-pembayaran {
      background-color: #ffefd0;
      padding: 50px 10px 10px 10px;
      margin: auto;

      h2 {
        font-size: large;
        font-weight: bold;
      }

      h3 {
        font-size: 18px;
        font-weight: lighter;
      }

      .tanggal {
        font-weight: bold;
      }

      .btn-join-now {
        background-color: #3a368d;
        color: #fff;
        border-radius: 0;

        &:hover {
          background-color: #5851d3;
          color: #fff;
        }
      }

      .bank {
        margin-left: 50px;

        .bank-item {
          h3 {
            font-size: 18px;
            margin-bottom: 0;
          }

          .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;

            p {
              font-weight: normal;
              font-size: 16px;
              color: #282569;
            }
          }
        }

        .bank-image {
          width: 45px;
          height: 45px;
          float: left;
        }
      }

      .join-container {
        margin: 0 -10px -10px -10px;
      }
    }

    .note {
      margin: auto;
      padding-top: 20px;
      font-weight: lighter;
    }
  }
}

//page success.html
.section-success {
  height: 90vh;

  h1 {
    font-weight: 600;
    font-size: 26px;
    color: #1f1d52;
  }

  img {
    width: 500px;
    height: 300px;
  }

  .btn-home {
    border-radius: 4px;
    background-color: #282569;
    color: #fff;

    &:hover {
      background-color: #433da8;
      color: #fff;
    }
  }
}

//page upload.html
.section-upload {
  height: 90vh;

  h1 {
    font-weight: 400;
    font-size: 26px;
    color: #1f1d52;
  }

  img {

    width: 500px;
    height: 300px;
  }

  .card-upload {
    margin: auto;
    width: fit-content;

    .btn-upload {
      border-radius: 4px;
      background-color: #282569;
      color: #fff;

      &:hover {
        background-color: #433da8;
        color: #fff;
      }
    }
  }
}

//page book.html
.section-book {
  margin-top: -50px;
  height: 90vh;

  h1 {
    font-weight: 600;
    font-size: 26px;
    color: #1f1d52;
  }

  img {
    width: 300px;
    height: 300px;
  }

  .btn-home {
    border-radius: 4px;
    background-color: #282569;
    color: #fff;

    &:hover {
      background-color: #433da8;
      color: #fff;
    }
  }
}