body {
  background-color: #ffffff;
  font-family: "mukta", sans-serif;
  background-position: center;
}
//navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #9e9e9e;

      &.active {
        font-weight: bold;
        color: #821e1e;
      }
    }
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;

  height: 70px;
  border-radius: 0;
}

.btn-login {
  background-color: #ffffff;
  color: #821e1e;

  &:hover {
    background-color: #ba3434;
    color: #fff;
  }
}

  .container-about{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      margin-top: 60px;
      justify-content: center;
      align-items: center;
      padding: 0 100px;
      .about-box {
          max-width: 700px;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: #fff;
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
         
      }
      
      article h2{
          position: relative;
          color: black;
          margin-top: 20px;
          margin-bottom: 20px;
      
      }
      h2:after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translateX(-50%);
          height: 4px;
          width: 50px;
          border-radius: 2px;
          background-color: #ba3434;
        }
      article p{
          color: #545252;
          font-size: medium;
          padding: 0 10px;
          text-align: center;
       
      }
     .username{
          color: black;
          font-size: large;
          margin-top: 30px;
          padding: 0 10px;
          text-align: center;
      }
     
      article img{
          width: 40px;
          height: 40px;
          background-size: cover;
          position: absolute;
          margin: auto;
          border-radius: 50px;
          top: 0%;
          transform: translate(-50%,-50%);
      }
      .btn-Post {
        width: 85%;
        padding: 0.5rem 1rem;
        background-color: #821e1e;
        color: #fff;
        font-size: 1.1rem;
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        margin: 30px 0;
      }
      
      .btn-Post:hover {
        background-color: #ba3434;
        color: #fff;
      }
      .tekstesti {
        width: 85%;
        border: 2px solid rgba(0, 0, 0, 0);
        outline: none;
        background-color: rgba(230, 230, 230, 0.6);
        padding: 0.5rem 1rem;
        font-size: 1.0rem;
        margin-bottom: 10px;
        border-radius: 5px;
        transition: 0.3s;
      }
      
      .tekstesti:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
      
      textarea {
        min-height: 150px;
      }
//footer
  .section-footer {
  h5,
  a {
      color: #282569;
  }
  }
}